.u-section-1 .u-sheet-1 {
  min-height: 2442px;
}

.u-section-1 .u-image-1 {
  height: 514px;
  margin-top: -137px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: -330px auto 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -46px auto 0 421px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: linear-gradient(#92bd14, #3f5e04);
  margin: 274px 0 0 auto;
  padding: 15px 59px 16px 58px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: linear-gradient(#92bd14, #3f5e04);
  margin: -73px auto 0 0;
  padding: 15px 70px 16px;
}

.u-section-1 .u-text-3 {
  margin: -42px 283px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 31px;
  margin: 3px 18px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 310px;
  margin: -14px auto 0 10px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 597px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 10px 191px 0 10px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 10px 95px 0 10px;
}

.u-section-1 .u-line-2 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 10px 88px 0 10px;
}

.u-section-1 .u-line-3 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 10px 101px 0 10px;
}

.u-section-1 .u-line-4 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: 10px 101px 0 10px;
}

.u-section-1 .u-line-5 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 10px 191px 0 10px;
}

.u-section-1 .u-line-6 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: 10px 95px 0 10px;
}

.u-section-1 .u-line-7 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: 10px 88px 0 10px;
}

.u-section-1 .u-line-8 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  margin: 10px 101px 0 10px;
}

.u-section-1 .u-line-9 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin: 10px 101px 0 10px;
}

.u-section-1 .u-line-10 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: linear-gradient(#92bd14, #3f5e04);
  margin: -564px 0 0 auto;
  padding: 15px 102px 16px 101px;
}

.u-section-1 .u-text-14 {
  margin: 17px 7px 0 882px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: linear-gradient(#92bd14, #3f5e04);
  margin: 20px 0 0 auto;
  padding: 15px 73px 16px 72px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  text-align: start;
  margin: 19px 106px 0 999px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  text-align: start;
  margin: -25px 74px 0 1031px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  text-align: start;
  margin: -25px 139px 0 967px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  text-align: start;
  margin: -25px 8px 0 1095px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  text-align: start;
  margin: -25px 41px 0 1063px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  text-align: start;
  margin: -25px 171px 0 937px;
}

.u-section-1 .u-text-21 {
  text-align: start;
  font-weight: normal;
  margin: -47px 80px 0 955px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: -3px 203px 0 904px;
}

.u-section-1 .u-text-23 {
  text-align: start;
  font-weight: normal;
  margin: 0 109px 0 999px;
}

.u-section-1 .u-text-24 {
  text-align: start;
  font-weight: normal;
  margin: -25px 137px 0 970px;
}

.u-section-1 .u-text-25 {
  text-align: start;
  font-weight: normal;
  margin: -25px 45px 0 1063px;
}

.u-section-1 .u-text-26 {
  text-align: start;
  font-weight: normal;
  margin: -25px 13px 0 1095px;
}

.u-section-1 .u-text-27 {
  text-align: start;
  font-weight: normal;
  margin: -25px 76px 0 1031px;
}

.u-section-1 .u-text-28 {
  text-align: start;
  font-weight: normal;
  margin: -25px 170px 0 938px;
}

.u-section-1 .u-text-29 {
  text-align: start;
  font-weight: normal;
  margin: -25px 199px 0 908px;
}

.u-section-1 .u-text-30 {
  text-align: start;
  margin: 0 112px 0 996px;
}

.u-section-1 .u-text-31 {
  text-align: start;
  margin: -25px 141px 0 966px;
}

.u-section-1 .u-text-32 {
  text-align: start;
  margin: -25px 49px 0 1059px;
}

.u-section-1 .u-text-33 {
  text-align: start;
  margin: -25px 17px 0 1091px;
}

.u-section-1 .u-text-34 {
  text-align: start;
  margin: -25px 80px 0 1027px;
}

.u-section-1 .u-text-35 {
  text-align: start;
  margin: -25px 170px 0 938px;
}

.u-section-1 .u-text-36 {
  text-align: start;
  margin: -25px 199px 0 908px;
}

.u-section-1 .u-text-37 {
  text-align: start;
  margin: 0 112px 0 996px;
}

.u-section-1 .u-text-38 {
  text-align: start;
  margin: -25px 141px 0 966px;
}

.u-section-1 .u-text-39 {
  text-align: start;
  margin: -25px 49px 0 1059px;
}

.u-section-1 .u-text-40 {
  text-align: start;
  margin: -25px 80px 0 1027px;
}

.u-section-1 .u-text-41 {
  text-align: start;
  margin: -25px 174px 0 934px;
}

.u-section-1 .u-text-42 {
  text-align: start;
  margin: -25px 203px 0 904px;
}

.u-section-1 .u-text-43 {
  text-align: start;
  margin: -25px 16px 0 1092px;
}

.u-section-1 .u-text-44 {
  text-align: start;
  margin: 0 16px 0 1092px;
}

.u-section-1 .u-text-45 {
  text-align: start;
  margin: -25px 112px 0 996px;
}

.u-section-1 .u-text-46 {
  text-align: start;
  margin: -25px 141px 0 966px;
}

.u-section-1 .u-text-47 {
  text-align: start;
  margin: -25px 49px 0 1059px;
}

.u-section-1 .u-text-48 {
  text-align: start;
  margin: -25px 80px 0 1027px;
}

.u-section-1 .u-text-49 {
  text-align: start;
  margin: -25px 174px 0 934px;
}

.u-section-1 .u-text-50 {
  text-align: start;
  margin: -25px 203px 0 904px;
}

.u-section-1 .u-text-51 {
  text-align: start;
  margin: 0 141px 0 966px;
}

.u-section-1 .u-text-52 {
  text-align: start;
  margin: -25px 174px 0 934px;
}

.u-section-1 .u-text-53 {
  text-align: start;
  margin: -25px 203px 0 904px;
}

.u-section-1 .u-text-54 {
  text-align: start;
  font-weight: 700;
  margin: 4px 203px 0 904px;
}

.u-section-1 .u-text-55 {
  text-align: start;
  font-weight: 700;
  margin: -26px 190px 0 918px;
}

.u-section-1 .u-btn-5 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: linear-gradient(#92bd14, #3f5e04);
  margin: 18px 0 0 auto;
  padding: 15px 62px 16px 61px;
}

.u-section-1 .u-list-2 {
  width: 310px;
  margin: 20px -64px 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 597px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-text-56 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-11 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-57 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-12 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-text-58 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-13 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-text-59 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-14 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-text-60 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-15 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-text-61 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-16 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-text-62 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-17 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-text-63 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-18 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-section-1 .u-text-64 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-19 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-20 {
  padding: 0;
}

.u-section-1 .u-text-65 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-20 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-btn-6 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: linear-gradient(#92bd14, #3f5e04);
  margin: -556px auto 0 0;
  padding: 15px 36px 16px;
}

.u-section-1 .u-list-3 {
  width: 310px;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-repeater-3 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 294px;
}

.u-section-1 .u-container-layout-21 {
  padding: 0;
}

.u-section-1 .u-text-66 {
  margin: 10px 54px 0 10px;
}

.u-section-1 .u-line-21 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-22 {
  padding: 0;
}

.u-section-1 .u-text-67 {
  margin: 10px 63px 0 10px;
}

.u-section-1 .u-line-22 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-23 {
  padding: 0;
}

.u-section-1 .u-text-68 {
  margin: 10px 65px 0 10px;
}

.u-section-1 .u-line-23 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-24 {
  padding: 0;
}

.u-section-1 .u-text-69 {
  margin: 10px 68px 0 10px;
}

.u-section-1 .u-line-24 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-container-layout-25 {
  padding: 0;
}

.u-section-1 .u-text-70 {
  margin: 10px 64px 0 10px;
}

.u-section-1 .u-line-25 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 8px;
}

.u-section-1 .u-btn-7 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: linear-gradient(#92bd14, #3f5e04);
  margin: 40px auto 0 0;
  padding: 15px 85px 16px 84px;
}

.u-section-1 .u-list-4 {
  width: 310px;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-repeater-4 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 354px;
}

.u-section-1 .u-container-layout-26 {
  padding: 0;
}

.u-section-1 .u-text-71 {
  margin: 10px 73px 0 8px;
}

.u-section-1 .u-line-26 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 6px;
}

.u-section-1 .u-container-layout-27 {
  padding: 0;
}

.u-section-1 .u-text-72 {
  margin: 10px 73px 0 8px;
}

.u-section-1 .u-line-27 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 6px;
}

.u-section-1 .u-container-layout-28 {
  padding: 0;
}

.u-section-1 .u-text-73 {
  margin: 10px 73px 0 8px;
}

.u-section-1 .u-line-28 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 6px;
}

.u-section-1 .u-container-layout-29 {
  padding: 0;
}

.u-section-1 .u-text-74 {
  margin: 10px 73px 0 8px;
}

.u-section-1 .u-line-29 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 6px;
}

.u-section-1 .u-container-layout-30 {
  padding: 0;
}

.u-section-1 .u-text-75 {
  margin: 10px 73px 0 8px;
}

.u-section-1 .u-line-30 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 6px;
}

.u-section-1 .u-container-layout-31 {
  padding: 0;
}

.u-section-1 .u-text-76 {
  margin: 10px 73px 0 8px;
}

.u-section-1 .u-line-31 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 7px auto 0 6px;
}

.u-section-1 .u-list-5 {
  width: 310px;
  margin: -334px -64px 0 auto;
}

.u-section-1 .u-repeater-5 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 650px;
}

.u-section-1 .u-container-layout-32 {
  padding: 0;
}

.u-section-1 .u-text-77 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-32 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-container-layout-33 {
  padding: 0;
}

.u-section-1 .u-text-78 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-33 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-container-layout-34 {
  padding: 0;
}

.u-section-1 .u-text-79 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-34 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-container-layout-35 {
  padding: 0;
}

.u-section-1 .u-text-80 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-35 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-container-layout-36 {
  padding: 0;
}

.u-section-1 .u-text-81 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-36 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-container-layout-37 {
  padding: 0;
}

.u-section-1 .u-text-82 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-37 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-container-layout-38 {
  padding: 0;
}

.u-section-1 .u-text-83 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-38 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-container-layout-39 {
  padding: 0;
}

.u-section-1 .u-text-84 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-39 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-container-layout-40 {
  padding: 0;
}

.u-section-1 .u-text-85 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-40 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-container-layout-41 {
  padding: 0;
}

.u-section-1 .u-text-86 {
  margin: 10px 0 0 8px;
}

.u-section-1 .u-line-41 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 20px auto 0 8px;
}

.u-section-1 .u-btn-8 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  background-image: linear-gradient(#92bd14, #3f5e04);
  margin: -276px auto 0 0;
  padding: 15px 85px 16px 84px;
}

.u-section-1 .u-list-6 {
  width: 310px;
  margin: 20px auto 3px 10px;
}

.u-section-1 .u-repeater-6 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 293px;
}

.u-section-1 .u-container-layout-42 {
  padding: 0;
}

.u-section-1 .u-text-87 {
  margin: 10px 0 0 6px;
}

.u-section-1 .u-line-42 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 6px auto 0 6px;
}

.u-section-1 .u-container-layout-43 {
  padding: 0;
}

.u-section-1 .u-text-88 {
  margin: 10px 0 0 6px;
}

.u-section-1 .u-line-43 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 6px auto 0 6px;
}

.u-section-1 .u-container-layout-44 {
  padding: 0;
}

.u-section-1 .u-text-89 {
  margin: 10px 0 0 6px;
}

.u-section-1 .u-line-44 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 6px auto 0 6px;
}

.u-section-1 .u-container-layout-45 {
  padding: 0;
}

.u-section-1 .u-text-90 {
  margin: 10px 0 0 6px;
}

.u-section-1 .u-line-45 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 6px auto 0 6px;
}

.u-section-1 .u-container-layout-46 {
  padding: 0;
}

.u-section-1 .u-text-91 {
  margin: 10px 0 0 6px;
}

.u-section-1 .u-line-46 {
  transform-origin: left center 0px;
  width: 255px;
  margin: 6px auto 0 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 347px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -39px;
  }

  .u-section-1 .u-shape-1 {
    width: 570px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -583px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 42px;
    margin-right: -57px;
    margin-left: 689px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 30px;
    margin-right: 6px;
    margin-left: 899px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 905px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 39px;
    margin-left: 867px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 903px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 904px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 71px;
    margin-left: 837px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 835px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 103px;
    margin-left: 804px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 9px;
    margin-left: 899px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 37px;
    margin-left: 870px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 908px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 907px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 908px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 70px;
    margin-left: 838px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 99px;
    margin-left: 808px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 12px;
    margin-left: 896px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 41px;
    margin-left: 866px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
    margin-left: 908px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 907px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
    margin-left: 908px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 70px;
    margin-left: 838px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 99px;
    margin-left: 808px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 12px;
    margin-left: 896px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 41px;
    margin-left: 866px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
    margin-left: 908px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 0;
    margin-left: 908px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 74px;
    margin-left: 834px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 103px;
    margin-left: 804px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 0;
    margin-left: 907px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 0;
    margin-left: 907px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 12px;
    margin-left: 896px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 41px;
    margin-left: 866px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 0;
    margin-left: 908px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 0;
    margin-left: 908px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 74px;
    margin-left: 834px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 103px;
    margin-left: 804px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 41px;
    margin-left: 866px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 74px;
    margin-left: 834px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 103px;
    margin-left: 804px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 103px;
    margin-left: 804px;
  }

  .u-section-1 .u-text-55 {
    width: 33px;
    margin-right: 90px;
    margin-left: 818px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 266px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 326px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -125px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 469px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 685px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 685px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 686px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 683px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 684px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 615px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 688px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 687px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 688px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 688px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 687px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 688px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 688px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 688px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 687px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 687px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 688px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 688px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 0;
    margin-left: 688px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 0;
    margin-left: 687px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 1px;
    margin-left: 687px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 0;
    margin-left: 688px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 200px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 163px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 289px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 505px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 505px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 506px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 503px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 504px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 435px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-42 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-46 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-51 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-52 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 507px;
  }

  .u-section-1 .u-text-55 {
    margin-left: 508px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 301px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 103px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 89px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -33px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 305px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 305px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 306px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 303px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 304px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 235px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-42 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-43 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-46 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-51 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-52 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 307px;
  }

  .u-section-1 .u-text-55 {
    margin-left: 308px;
  }
}